
body {
  background: #131313;
  font-family: 'Caladea', serif;
  font-weight: 300;
  margin: 0;
  scroll-behaviour:smooth
}

.container {
  width:80%;
  margin: 0 auto;
}

header {
  background-color: #131313;
  height:100px;
  weight:50px;
}

header::after {
  content: '';
  display table;
  clear:both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
}

nav li {
  display:inline-block;
  margin-left:70px;
  padding-top:23px;

  position: relative;
}

nav a {
  color:#dadada;
  text-decoration: none;
  text-transform: uppercase;
  font-size:14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #CDCBCB;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 275ms;
}

nav a:hover::before {
  width:100%
}
.storytime {
  text-align: center;
  color:white;
  width:100%;
  height:auto;

}

.social-icon {
  color:white;
  max-height:100px;
  max-width:100px;
  font-size:20px;
}
.storyphoto {
  text-align: center;
  opacity:0.2;
  position: static;
}

.storytime {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 300;
  margin-top: 110px;
  padding-left:8%;
  padding-right:8%;
  box-sizing: border-box;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: auto;
}

.slideshow-container img{
    width: 75%;
    height: 75%;
    object-fit: cover;

}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #585858;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.meny {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 700;
  margin-top: 500px;
  color:white;
  text-align: center;
}

.hero {
  width:100%
  height:100vh;
  background: #000;
  overflow:hidden;
}

.carousel h3 {
  color:white;
  font-style: normal;
  font-size:17px;
  text-decoration: underline;
}

.hero .carousel {
  width:300px;
  margin:100px auto 0;
  overflow:visible;
}

.carousel img {
  height:500px;
  width:500px;
  object-fit: cover;
}


/* This reflects the bottom of the pic use or not?
.carousel img {
  -webkit-box-reflect:below 20px linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.3));
*/
}

img {
  float:left;
  width:300px;
  height:300px;
  object-fit: cover;
}

.kontakt {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 700;
  margin-top: 500px;
  color:white;
  text-align: center;
  text-decoration: overline;
}

#telefon {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 700;
  font-style: italic;
  color:white;
  text-align: center;
}

.hitta {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 700;
  margin-top: 500px;
  color:white;
  text-align: center;
}

#map {
  max-width: 100%
  height:100%;
  float:center;
  margin-left:200px;
  padding-bottom:200px;
  padding-left:50px;
  display:inline-block;
  position:fixed;
  overflow:hidden;
}

.öppettider {
  float:left;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 700;
  font-style: italic;
  color:white;
  padding-left:70px;
}


/* Mobile device */
@media only screen and (max-width:850px) {
  .nav {
    padding:0;

  }
  .nav ul {
    flex-direction:column;
    width: 100%;
    height: 100vh;
    justify-content: center;
  }

  .storytime {
    flex-direction: center;
  }
  .header {
    flex-direction: column;
  }
  .storyphoto {
    width: 50px;
    max-width:50px;
    height: auto;

  }

}
